.about-service {
  margin-top: 64px;
}

.about-service__page-name-title {
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 36px;
  line-height: 42px;
  font-weight: 300;
}

.about-service__page-name-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
}

.about-service__numbers {
  flex-wrap: wrap;
  margin-bottom: 80px;
  margin-top: 50px;
  padding-left: 0;
  padding-right: 0;
}

.about-service__numbers .numbers__item {
  margin-top: 30px;
  max-width: 25%;
  flex-basis: 25%;

  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4) {
    margin-top: 0;
  }
}

.about-service__numbers .numbers__value {
  text-align: left;
}

.about-service__numbers .numbers__text {
  text-align: left;
}

.about-service_images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 43px -4px 50px -4px;
  padding-left: 0;
  list-style: none;
}

.about-service__images-item {
  width: 50%;
  margin-top: 8px;
  padding-left: 4px;
  padding-right: 4px;

  &:nth-child(1),
  &:nth-child(2) {
    margin-top: 0;
  }
}

.about-service__images-item img {
  display: block;
}

.about-service__description {
  display: flex;
  margin-top: 50px;
}

.about-service__description .content {
  max-width: 450px;
  width: 100%;
}

.about-service__description .about-service__description-image {
  max-width: 570px;
  width: 100%;
  margin-left: auto;
}

.about-service__actions {
  position: relative;
  max-width: 563px;
  display: flex;
  justify-content: center;
  margin: 45px auto 0 auto;
  padding-top: 18px;
  text-align: center;

  &::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $white-color;
  }
}

.about-service__action-portfolio {
  padding: 11.5px 22px;
  margin-right: 17px;
  font-size: 14px;
}

.about-service__action-brief {
  padding: 11.5px 22px;
}

.about-service__action-brief,
.about-service__action-portfolio {
  width: 100%;
  max-width: 273px;
}

@media (max-width: $tablet-large) {
  .about-service__description .about-service__description-image {
    max-width: 479.5px;
  }
}

@media (max-width: $tablet) {
  .about-service__description .about-service__description-image {
    max-width: 360px;
  }

  .about-service__description .content {
    max-width: 340px;
  }

  .about-service {
    margin-top: 30px;
  }

  .about-service__numbers {
    margin-left: -10px;
    margin-right: -10px;
  }

  .about-service__numbers .numbers__item {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: $mobile-vertical) {
  .about-service__numbers .numbers__item {
    width: 50%;
    flex-basis: 50%;
    max-width: 100%;

    &:nth-child(3),
    &:nth-child(4) {
      margin-top: 30px;
    }
  }

  .about-service_images {
    margin-left: 0;
    margin-right: 0;
  }

  .about-service__images-item {
    width: 100%;
    padding-left: 0;
    padding-right: 0;

    &:nth-child(2) {
      margin-top: 8px;
    }
  }

  .about-service__description {
    flex-wrap: wrap;
  }

  .about-service__description .content {
    max-width: 100%;
    width: 100%;
    order: 1;
  }

  .about-service__description .about-service__description-image {
    max-width: 100%;
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: $mobile) {
  .about-service__page-name-title {
    font-size: 24px;
    margin-bottom: 25px;
  }

  .about-service__numbers {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .about-service__numbers .numbers__value {
    text-align: center;
  }

  .about-service__numbers .numbers__text {
    text-align: center;
  }

  .about-service__action-portfolio {
    display: none;
  }

  .about-service__actions {
    padding-top: 0;
    margin-top: 15px;

    &::before {
      display: none;
    }
  }

  .about-service__action-brief {
    width: 100%;
    max-width: 100%;
  }
}
