.button {
  display: inline-block;
  padding: 8px 19px 5px 17px;
  font-size: 16px;
  text-align: center;
  line-height: 19px;
  text-decoration: none;
  color: $white-color;
  border: 1px solid $dark-green-color;

  &:focus {
    outline: none;
  }
}

.button--black {
  background-color: transparent;

  &:hover,
  &:focus {
    color: $dark-green-color;
    border-color: $dark-gray-color;
  }
}

.button--green {
  font-size: 14px;
  padding: 10.5px 52px;
  background-color: $dark-green-color;
  color: $lite-black-color;
  border-color: $dark-green-color;

  &:hover,
  &:focus {
    background-color: $white-color;
    border-color: $white-color;
  }
}
