.content h2 {
  margin: 20px 0;
  font-size: 24px;
  font-weight: 300;
}

.content p {
  margin: 20px 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
}

.content ul {
  margin: 20px 0;
  padding-left: 0;
  list-style: none;
}

.content ul li {
  position: relative;
  margin-top: 20px;
  padding-left: 17px;
  font-size: 14px;
  line-height: 16px;


  &:first-child {
    margin-top: 0;
  }

  &::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    background-image: url("../img/list-style.svg");
    background-size: 10px auto;
  }
}
