.numbers {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.numbers__value {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  color: $dark-green-color;
  text-align: center;
}

.numbers__text {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.numbers__item {
  max-width: 130px;
  flex-basis: 130px;
  width: 100%;
  margin-right: 27px;

  &:last-child {
    margin-right: 0;
  }
}

@media (min-width: $tablet-large) {
  .numbers {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .numbers__item {
    max-width: 100%;
    width: 33.33%;
    flex-basis: 33.33%;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 0;
  }
}

@media (max-width: $tablet-large) {
  .numbers {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .numbers__item {
    max-width: 100%;
    width: 33.33%;
    flex-basis: 33.33%;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 0;
  }
}

@media (max-width: $mobile) {
  .numbers__value {
    font-size: 36px;
  }

  .numbers {
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .numbers__item {
    padding-left: 10px;
    padding-right: 10px;
  }
}
