.portfolio {
  margin-top: 100px;
}

.portfolio--portfolio-page {
  margin-top: 50px;
  margin-bottom: 164px;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0 -8px;
  list-style: none;
}

.portfolio__item {
  display: flex;
  margin-top: 16px;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 33.33%;
  width: 100%;

  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3) {
    margin-top: 0;
  }
}

.portfolio__card-name {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 28px;
}

.portfolio__type {
  display: inline-block;
  margin: 0;
  padding: 0 8px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.26em;
  text-align: center;
  color: #3f3d3d;
  background-color: $dark-green-color;
}

.portfolio__card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  padding: 28px 42px;
  text-align: center;
  background-color: $lite-black-color;
  opacity: 0;
}

.portfolio__card-link {
  font-size: 14px;
  padding: 8px 29px;
}

.portfolio__card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  z-index: -1;
}

.portfolio__card-details {
  flex-grow: 1;
  text-align: center;
}

.portfolio__card {
  position: relative;
  padding-top: 240px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: hidden;
}

.portfolio__card:hover .portfolio__card-info {
  @include animation(bounce-left);
}

.portfolio__card:focus-within .portfolio__card-info {
  @include animation(bounce-left);
}

.portfolio__load-more {
  padding-top: 13px;
  padding-bottom: 13px;
  display: none;
  font-size: 16px;
}

@media (max-width: $tablet-large) {
  .portfolio__card:hover .portfolio__card-info {
    animation: none;
  }

  .portfolio__card:focus-within .portfolio__card-info {
    animation: none;
  }

  .portfolio__card-info {
    padding: 24px 28px;
    opacity: 1;
  }
}

@media (max-width: $mobile-vertical) {
  .portfolio__item {
    max-width: 50%;

    &:nth-last-child(3) {
      margin-top: 16px;
    }
  }

  .portfolio--portfolio-page {
    margin-bottom: 85px;
  }
}

@media (max-width: $mobile) {
  .portfolio__item {
    max-width: 100%;
    margin-top: 13px;

    &:nth-child(2),
    &:nth-child(3) {
      margin-top: 13px;
    }
  }

  .portfolio__load-more {
    margin-top: 33px;
    display: inline-block;
    font-size: 14px;
    padding-top: 13px;
    padding-bottom: 13px;
    width: 100%;
  }

  .portfolio {
    margin-top: 65px;
  }

  .portfolio--portfolio-page {
    margin-top: 50px;
    margin-bottom: 65px;
  }
}
