.social {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.social__link svg {
  fill: $white-color;
}

.social__link {
  color: $white-color;

  &:hover,
  &:focus {
    svg {
      fill: $dark-green-color;
    }
  }
}

.social__link,
.social__link svg {
  display: block;
}

.social__item {
  margin-right: 42px;

  &:last-child {
    margin-right: 0;
  }
}
