.work-slider {
  margin: 90px auto 0 auto;
  max-width: 1440px;
  width: 100%;
}

.work-slider__item {
  position: relative;
  min-height: 525px;
  padding-top: 336px;
  padding-bottom: 119px;
  z-index: 1;
}

.work-slider__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.work-slider__title {
  margin: 0;
  max-width: 390px;
  font-size: 36px;
  font-weight: 500;
  color: $white-color;
}

.work-slider .slick-dots {
  position: absolute;
  max-width: 1170px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  bottom: 67px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: $tablet-large) {
  .work-slider .slick-dots {
    max-width: 991px;
  }

  .work-slider__item {
    padding-top: 280px;
    min-height: 485px;
  }
}

@media (max-width: $tablet) {
  .work-slider .slick-dots {
    max-width: 768px;
  }
}

@media (max-width: $mobile-vertical) {
  .work-slider .slick-dots {
    max-width: 570px;
  }
}

@media (max-width: $mobile) {
  .work-slider {
    margin-top: 48px;
  }

  .work-slider .slick-dots {
    max-width: 100%;
    bottom: 30px;
  }

  .work-slider__title {
    font-size: 24px;
  }

  .work-slider__item {
    min-height: 514px;
    padding-top: 392px;
    padding-bottom: 66px;
  }
}

@media (max-width: $iphone-small) {
  .work-slider__item {
    min-height: 422px;
    padding-top: 300px;
    padding-bottom: 66px;
  }
}
