html {
  box-sizing: border-box;

  * {
    box-sizing: inherit;

    *::after {
      box-sizing: inherit;
    }

    *::before {
      box-sizing: inherit;
    }
  }
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 320px;
  font-family: $base-font-family;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: $white-color;
  background-color: $black-color;
}

html,
body {
  height: 100%;
}

main {
  padding-top: 111px;
  flex: 1 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

@media (max-width: $tablet) {
  main {
    padding-top: 97px;
  }
}

@media (max-width: $mobile) {
  main {
    padding-top: 80px;
  }
}

@keyframes bounce-bottom {
  0% {
    opacity: 0;
    transform: translateY(1000px);
  }

  0% {
    opacity: 0.5;
    transform: translateY(500px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce-left {
  0% {
    opacity: 0;
    transform: translateX(-1000px);
  }

  0% {
    opacity: 0.5;
    transform: translateX(-500px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bounce-top {
  0% {
    opacity: 0;
    transform: translateY(-500px);
  }

  50% {
    opacity: 0.5;
    transform: translateY(-200px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
