@mixin animation($animation-name) {
  animation-duration: 0.55s;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-name: $animation-name;
}

@mixin transition($transition-property) {
  transition-property: $transition-property;
  transition-duration: 0.55s;
  transition-timing-function: ease;
}
