$base-font-family: "Roboto", arial, sans-serif;
$midnight-black-color: #0a0a0a;
$black-color: #0f0f0f;
$lite-black-color: #1e1e1e;
$brown-color: #646464;
$dark-gray-color: #4b4b4b;
$lite-brown-color: #c4c4c4;
$white-color: #ffffff;
$green-color: #67f3d9;
$dark-green-color: #3cc3ae;
$tablet-large: 1169px;
$iphone: 376px;
$iphone-small: 360px;
$mobile-vertical: 767px;
$mobile: 569px;
$tablet: 991px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
